<! DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">

	<link rel="stylesheet" href="../../../static/css/normalize.css">
	<link rel="stylesheet" href="../../../static/css/style.css">	
	
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Optional theme -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	
	<script>
	    // Obtén los datos del controlador y conviértelos a JSON
	    var datosInmuebles = JSON.parse("{{InmuebleCantidadSectorDTO | json_encode}}");
	</script>
	
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>


	<div class="container">
		<h1 th:text="${titulo}"></h1>
		<!--  p th:text="${inmuebles}"></p-->
	</div>
	
	
	
	<div class="container">
		<h2 align="center">Estadísticas de publicaciones </h2>
		
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	


	<ul class="btn-warning">
						
		<li class="dropdown" >
			<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Grafico</button>
									  
						
			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" th:href="@{/views/analisis/AnalisisGraficas}">Barras</a>
				<a class="dropdown-item" th:href="@{/views/analisis/displayPieChartVacio}">Pastel</a>
				<a class="dropdown-item" th:href="@{/views/inmuebles/displayBasicAreaVacio}">Area</a>
				<a class="dropdown-item" href="#">Otro</a>				
						    
			</div>
		</li>
						
	</ul>
	
	<div>
		<!-- form th:action="@{/views/analisis/displayBarGraph}" th:object="${InmuebleCantidadSectorDTO}" method="post"-->
		
		    <!-- select id="precio" name="precio">
		        <option value="0-50000">0 - 50000</option>
		        <option value="50001-100000">50001 - 100000</option>
		        <option value="100001-150000">100001 - 150000</option>
		        <option value="150001-200000">150001 - 200000</option>
		    </select-->
		    
		     <!-- div class="form-group-row">
			      <label for="valor_min" class="col-md-2 form-label">Valor minimo:</label>
			      <input type="text" th:field="*{valor_min}" class="form-control form-control-sm col-md-6" id="valor_min" placeholder="valor_min">
			      <small class="form-text text-danger" th:if="${#fields.hasErrors('valor_min')}" th:errors="*{valor_min}"></small>
			 </div-->
		    
		    <!-- div class="form-group-row">
			     <label for="tipo" class="col-md-2 form-label">Tipo:</label>
			     <input type="text" th:field="*{tipo}" class="form-control form-control-sm col-md-6" id="tipo" placeholder="Tipo de inmueble">
			     <small class="form-text text-danger" th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}"></small>
		   </div-->
		    
		    <select id="tipo" name="tipo">
		        <option value="casa">casa</option>
		        <option value="Apartamento">Apartamento</option>
		    </select>
		
		    <input type="number" id="valor_min" placeholder="Ingrese valor mínimo">
		    <input type="number" id="valor_max" placeholder="Ingrese valor máximo">
		
		    <a class="btn btn-primary" onclick="actualizarPrecio()" title="Actualizar Precio">Actualizar Precio</a>
</div>
	


	<div id="container1" style="width: 800px; height: 400px; font-size: 20px;"></div>
		<script th:inline="javascript">
			$(function(){
		    var surveyMapKeys = [[${surveyMap.keySet()}]];
		    var surveyMapValues = [[${surveyMap.values()}]];
	
		    var maxCantidad = Math.max(...surveyMapValues); // Obtener el valor máximo de tus datos
	
		    Highcharts.chart('container1', {
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Departamentos en venta por sector'
		        },
		        subtitle: {
		            text: 'All Details is not true its a dummy Map'
		        },
		        xAxis: {
		            categories: surveyMapKeys,
		            crosshair: true
		        },
		        yAxis: {
		            min: 0,
		            max: maxCantidad + 1, // Establecer el valor máximo como el máximo más alto en tus datos + 1
		            title: {
		                text: 'Cantidad'
		            }
		        },
		        tooltip: {
		            headerFormat: '<span style="font-size:40px">{point.key}</span><table>',
		            pointFormat: '<tr><td style="color:{series.color};padding:0">Inmuebles: </td>' +
		            '<td style="padding:0"> <b>{point.y:.0f}</b></td></tr>',
		            footerFormat: '</table>',
		            shared: true,
		            useHTML: true
		        },
		        plotOptions: {
		            column: {
		                pointPadding: 0.2,
		                borderWidth: 5
		            }
		        },
		        series: [{
		            name: 'Sector',
		            data: surveyMapValues
		        }]
		    });
		});
	
	</script>
		

	<script>
	    function actualizarPrecio() {
	        var tipo = document.getElementById('tipo').value;
	        var valorMin = document.getElementById('valor_min').value;
	        var valorMax = document.getElementById('valor_max').value;
	
	        var url = '/views/analisis/edit/' + tipo + '/' + valorMin + '/' + valorMax;
	        window.location.href = url;
	    }
	</script>




	
	<!-- table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Sector</th>
					<th scope="col">cantidad</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pub:${InmuebleCantidadSectorDTO}">
					<th scope="row" th:text="${pub.sector}"></th>
					<td th:text="${pub.cantidad}"></td>
					
				</tr>
			</tbody>
		</table-->
	
	
	<!-- div id="container" style="width:100%; height: 500px; margin: 0 auto;"></div>
	<div id="play-range" style="width:100%; height: 500px; margin: 0 auto;"></div>
	
	
	<div id="container3" style="width:100%; height: 500px; margin: 0 auto;"></div>
	
	
	<div id="basicArea" style="width:100%; height: 500px; margin: 0 auto;"></div-->
	
	
	
	<footer th:replace="plantilla/template :: footer"></footer>
	
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript" src="../../../static/js/graficas.js"></script>
</body>
</html>